<div class="main_nav">
  <ul>
    <li>
      <a class="scroll in_pg_nav" href="main_intro" >Home</a>
  </li>
    <li>
      <a class="scroll in_pg_nav" href="main_about" >About Us</a>
    </li>
    <li>
      <a class="scroll in_pg_nav" href="main_how" >How It Works</a>
    </li>
    <li>
      <a class="scroll in_pg_nav" href="main_contact" >Contact Us</a>
    </li>
    <li>
      <a href="/accounts/sign_in">Login</a>
    </li>
    <li>
      <a href="/accounts/sign_up">SignUp</a>
    </li>
  </ul>
</div>

