<div class="main_nav">
  <ul>
    <li>
      <a href="#" {{action "clickMainHeader"  target="App.mainTopbarView" context="main_intro"}} >Home</a>
  </li>
    <li>
      <a href="#" {{action "clickMainHeader"  target="App.mainTopbarView" context="main_about"}}>About Us</a>
    </li>
    <li>
      <a href="#" {{action "clickMainHeader"  target="App.mainTopbarView" context="main_how"}}>How It Works</a>
    </li>
    <li>
      <a href="#" {{action "clickMainHeader"  target="App.mainTopbarView" context="main_contact"}}>Contact Us</a>
    </li>
    <li>
      <a href="/accounts/sign_in">Login</a>
    </li>
    <li>
      <a href="/accounts/sign_up">SignUp</a>
    </li>
  </ul>
</div>

