<div class="main_nav">
  <ul>
    <li>
      <a href="#" {{action "clickMainHeader" "main_intro" target="App.mainTopbarView"}} >Home</a>
  </li>
    <li>
      <a href="#" {{action "clickMainHeader" "main_about" target="App.mainTopbarView"}}>About Us</a>
    </li>
    <li>
      <a href="#" {{action "clickMainHeader" "main_how" target="App.mainTopbarView"}}>How It Works</a>
    </li>
    <li>
      <a href="#" {{action "clickMainHeader" "main_contact" target="App.mainTopbarView"}}>Contact Us</a>
    </li>
    <li>
      <a href="/accounts/sign_in">Login</a>
    </li>
    <li>
      <a href="/accounts/sign_up">SignUp</a>
    </li>
  </ul>
</div>

