
  <div id="main_page_header">
  	<div class="main_page_header_wrapper">
		<a href="/" class="header_logo"></a>
		<a class="register" href="/accounts/sign_up"></a>
		<a class="login" href="/accounts/sign_in"></a>
		<img src="//cdn.mxpnl.com/site_media/images/homepage/already_data_driven.png">
		<a href="/about/" class="menu_links">Company</a>
		<a href="/pricing/" class="menu_links">Pricing</a>
		<a href="/features/segmentation" class="menu_links">Features</a>
	</div>
  </div>
