<div class="main_nav">
  <ul>
    <li>
      <a href=""main_intro"" {{action "clickMainHeader"  target="App.mainTopbarView"}} >Home</a>
  </li>
    <li>
      <a href="main_about" {{action "clickMainHeader"  target="App.mainTopbarView"}}>About Us</a>
    </li>
    <li>
      <a href="main_how" {{action "clickMainHeader"  target="App.mainTopbarView"}}>How It Works</a>
    </li>
    <li>
      <a href="main_contact" {{action "clickMainHeader"  target="App.mainTopbarView"}}>Contact Us</a>
    </li>
    <li>
      <a href="/accounts/sign_in">Login</a>
    </li>
    <li>
      <a href="/accounts/sign_up">SignUp</a>
    </li>
  </ul>
</div>

