<div class="main_nav">
  <ul>
    <li>
      <a class="scroll" href="/#home">Home</a>
  </li>
    <li>
      <a class="scroll" href="/#aboutus">About Us</a>
    </li>
    <li>
      <a class="scroll" href="/#howitworks">How It Works</a>
    </li>
    <li>
      <a class="scroll" href="/#contactus">Contact Us</a>
    </li>
    <li>
      <a href="/accounts/sign_in">Login</a>
    </li>
    <li>
      <a href="/accounts/sign_up">SignUp</a>
    </li>
  </ul>
</div>

