{{outlet mainTopBarOutlet}}

<div class="main_page_intro_container" id="main_intro">
  <div class="main_container">
    <div class="grid grid1">
      <a href="/">
        <img src="/assets/logo.png" class="logo" alt="RuleBot logo" />
      </a>
      <p class="address">
        #17, NSRCEL IIM Bangalore
        <br>
        <a href="http://facebook.com/actwitty">facebook.com/actwitty</a>
        |
        <a href="http://twitter.com/rulebot">@rulebot</a>
      </p>
    </div>
    <div class="main_clear" />
    <div class="main_container">
        <div class="grid2">
          <p class="pitch">
            data should create actions, not reports
          </p>
          <p class="detail_pitch">

            <span class="grey">
              the simplest way to trigger actions on analytics
            </span>
            

            
          </p>
        </div>    
    </div>
    <div class="main_clear" />
    <div class="main_container">
      <div class="grid2">
        {{outlet mainInviteBoxOutlet}} 
      </div>
    </div>
  </div>


  
</div>
<div class="main_page_about_container" id="main_about">
    <div class="main_container">
      <div class="grid grid6">
        <img src="/assets/people.png" />
      </div>
    </div>

    <div class="main_clear" />
    <div class="main_container">
        <div class="grid7">
          <p class="team_info"> a gang of passionate hackers at work </p>
        </div>
        <div class="grid7">
          <p class="detail_team_info"> Our goal is to bring life to your data.  </p>
        </div>

        <div class="grid8">
          <p class="team_loves"> Things we really love: </p>
        </div>
        <div class="grid9">

          <a href="http://rubyonrails.org/">
            <img src="/assets/rails.png" class="large" alt="Ruby on Rails" />        
          </a>

          <a href="http://jquery.com/">
            <img src="/assets/jquery.png" class="small" alt="Jquery" />        
          </a>


          <a href="https://github.com">
            <img src="/assets/github.png" class="small" alt="Github"  />        
          </a>


          <a href="http://www.mongodb.org/">
            <img src="/assets/mongo-db-logo.png" class="tiny" alt="Mongo DB" />        
          </a>


          <a href="http://emberjs.com/">
            <img src="/assets/ember.png" class="small" alt="Ember JS" />        
          </a>

          <a href="http://redis.io/">
            <img src="/assets/redis.png" class="small" alt="Redis" />        
          </a>

          <a href="http://hadoop.apache.org/">
            <img src="/assets/hadoop.png" class="tiny" alt="Hadoop" />        
          </a>

          <a href="http://nodejs.org/">
            <img src="/assets/nodejs.png" class="tiny" alt="NodeJS" />        
          </a>



        </div>
    </div>

</div>
<div class="main_page_how_container" id="main_how">
  <div class="main_container">
      <div class="grid grid10">
        <img src="/assets/no-geeks.gif" />
        <p class="banner"> Nothing geeky stuff here</p>
      </div>
  </div>
  

  <div class="main_clear" />
  <div class="main_container">

    <div class="grid11">
      <p class="howto_info">
        Events
      </p>
      <img src="/assets/arrow.png" />
      <p class="howto_info">
        Filters
      </p>
      <img src="/assets/arrow.png" />
      <p class="howto_info">
        Actions
      </p>
    </div>  

    <div class="grid12">
      <p class="subgrid">
        {
          <br>
            &nbsp;&nbsp;&nbsp;&nbsp;event: signup
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;params: {
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;email : xyz@gmail.com,
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;browser: chrome          
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;} 
          <br>         

        }

      </p>

      <p class="subgrid">
        If this happens
        <br>
        then trigger action  
      </p>


      <p class="subgrid">
        
        Send an email
        <br>
        Show Facebook Like
        <br>
        Change site banners
        <br>
        ...
      </p>
      
    </div>  
  </div>
</div>
<div class="main_page_contact_container" id="main_contact">
    <div class="main_container">
      <div class="grid grid3">
        <img src="/assets/contact.png" />
      </div>
    </div>
    <div class="main_clear" />
    <div class="main_container">
      
      <div class="grid grid4">
        <a href="mailto:contact@actwitty.com" >
          <img src="/assets/mail.png" alt="Email Us" class="general"/>          
        </a>
        <a href="http://www.facebook.com/actwitty">
          <img src="/assets/facebook.png" width="50" alt="Reach us on facebook"  class="general"/>          
        </a>
        <a href="www.twitter.com/rulebot">
          <img src="/assets/twitter.png" width="50" alt="Reach us on Twitter" class="general"/>          
        </a>
      </div>
      
      <div class="grid grid5">
        <img src="/assets/phone.png" class="phone"/>
        <p class="detail"> +91 984 545 0721,    +91 998 090 6102 </p>
      </div>

    </div>
</div>
<!-- <div class="main_page_footer_container">
  
</div> -->


