<form accept-charset="UTF-8" action="/accounts" class="simple_form form-inline" id="new_user" method="post" novalidate="novalidate">
        
  
  {{#if view.stateIsError}}
    <p class="error"> {{bind view.errorString}} </p> 
  {{/if}}
  {{#if view.stateIsSuccess}}
    <p class="success"> Thanks for signing up, we will keep you posted. </p>     
  {{else}}
    <div class="input-prepend">   
      <input id="account_email" name="account_email" placeholder="Your email address..." size="30" type="text" value="">
    </div>
    <input class='btn btn-primary' id="invitation_button" {{action "addInviteAccount" target="App.  mainInviteView"}} value="Request for invite.">    
    
  {{/if}}
  
  
</form>
{{#if view.stateIsBusy}}
  <div class="busy_div" > </div>
{{/if}}