{{outlet mainTopBarOutlet}}

<div class="main_page_intro_container">
  <div class="main_container">
    <div class="grid grid1">
      <a href="/">
        <img src="/assets/logo.png" class="logo" alt="RuleBot logo" />
      </a>
      <p class="address">
        #17, NSRCEL IIM Bangalore
        <br>
        <a href="http://facebook.com/actwitty">facebook.com/actwitty</a>
        |
        <a href="http://twitter.com/rulebot">@rulebot</a>
      </p>
    </div>
    <div class="main_clear" />
    <div class="main_container">
        <div class="grid2">
          <p class="pitch">
            data should create actions, not reports
          </p>
          <p class="detail_pitch">
            <span class="grey">
              the
            </span>
            <span class="white">
              simplest way
            </span>
            <span class="grey">
              analytics
            </span>
            <span class="white">
               should          
            </span>
            <span class="grey">
               trigger          
            </span>
            <span class="grey">
              actions
            </span>
            
          </p>
        </div>

    </div>
  </div>


  <!-- {{outlet mainInviteBoxOutlet}} -->
</div>
<div class="main_page_about_container">

</div>
<div class="main_page_how_container">
  
</div>
<div class="main_page_contact_container">
  
</div>
<div class="main_page_footer_container">
  
</div>


