{{view App.BannerView }}
<div class="ev_list">
  <h2> Enabling Javascript </h2>
  <!--  Initializer script -->
    <p class="description">
      The following script needs to be added to the main layout of the site, which can be accessed from
      all pages of the site
    </p>
    <div class="code_section">
      <pre class="prettyprint">
// Add this code snippet to the start of head tag

&lt;script type="text/javascript" src="https://s3.amazonaws.com/actwitty-rbt/tgG.js.jgz"&gt;&lt;/script&gt;
&lt;script type="application/javascript"&gt;
var a=a||[];a.push(["_setApp","{{getvalue view.projectId}}"]),a.push(["_setAccount","{{getvalue view.account.id}}"]),function(a,b){if(!a.getElementById(b)){var c=a.createElement("script");c.type="text/javascript",c.async=!0,c.src="https://s3.amazonaws.com/actwitty-rbt/rbt"+(tfGzip?".min.js.jgz":".min.js"),c.id=b,a.getElementsByTagName("head")[0].appendChild(c),function(a,b){function e(b){a.rb[b]=function(c,d,e){a.rb.q.push({t:b,a:c,b:d,c:e})}}var c,d=b.length;a.rb={},a.rb.q=[];for(c=0;c&lt;d;c++)e(b[c])}(window,["identify","sendEvent","setActor","alias"])}}(document,"trigger-fish-pdk")
&lt;&#47;script&gt;
      </pre>
    </div>
  
  <!--  Page Load Event -->
  <h2> Page Load Javascript </h2>
  <div class="code_section">
    <pre >
      <code class="javascript">
        //Add this code to the main script        
      </code>
    </pre>
  </div>  
  <!--  Identify -->
  <h2> Identify Javascript </h2>
  <div class="code_section">
    <pre >
      <code class="javascript">
        //Add this code to the main script        
      </code>
    </pre>
  </div>    
  <!--  Identify -->
  <h2> Identify Javascript </h2>
  <div class="code_section">
    <pre >
      <code class="javascript">
        //Add this code to the main script        
      </code>
    </pre>
  </div>    
  <!--  Sign In Event -->
  <h2> SignIn Javascript </h2>
  <div class="code_section">
    <pre >
      <code class="javascript">
        //Add this code to the main script        
      </code>
    </pre>
  </div>    
  <!--  Sign Up Event -->
  <h2> SignUp Javascript </h2>
  <div class="code_section">
    <pre >
      <code class="javascript">
        //Add this code to the main script        
      </code>
    </pre>
  </div>  
  <!--  Purchase Event -->
  <h2> Purchase Javascript </h2>
  <div class="code_section">
    <pre >
      <code class="javascript">
        //Add this code to the main script        
      </code>
    </pre>
  </div>  
  <!--  Signout Event -->
  <h2> Signout Javascript </h2>
  <div class="code_section">
    <pre >
      <code class="javascript">
        //Add this code to the main script        
      </code>
    </pre>
  </div>  
</div>