<div class="conditions_box">

  <h5> Trigger Condition </h5>
  {{#each condition in view.conditions}}
  	{{view App.ConditionView conditionBinding="condition"}}
  {{/each}}
  <div class="add_line"> </div>
  <div class="add" {{action "addNewCondition"}}> </div>
</div>  <!-- Conditions Main box end here -->