{{view App.BannerView }}

<div class="add_evt_name">
	<div class="evt_label">
		Event Name
	</div>
	<div class="input">
		
	</div>
</div>

<div class="add_evt_schema">
	<div class="evt_label">
		Event Schema
	</div>
	<div id="add_event_code_id" class="addcode">
{
    'book' : { 
                 'name' : 'alchemist',
                 'author': 'Paulo Coelho',
                 'isbn': 'ISBN 0-06-250217-4'
             },
    'price': 3.2,
    'location': 'plano'

}
	</div>

	<div class="btn_box">
		<a  class="btn btn-info" target="_blank">
    		Create Event
    	</a>
    </div>

</div>