


<div class="home_wrapper">
  <div class="home_wide_wrapper">
   <!-- Header Bar -->
    <div class="home_header">

      <!-- Header Bar Project Menu -->
      <div class="home_project_menu">
          <div class="menu_option">
              RuleBot
          </div>
          <div class="arrow">          
          </div>
      </div>
      <!-- Header Bar Project Menu Ends -->
      <!-- Menu divider -->
      <div class="menu_divider"></div>
    </div>
    <!-- Header Bar Ends -->
    <div class="home_main_box">
      <div class="home_side_deck">
        {{outlet homeSideBarOutlet}}
      </div>
      <div class="home_content">
        {{outlet homeContentOutlet}}
      </div>
    </div>

  </div>
</div>

