


<div class="home_wrapper">
  <div class="home_wide_wrapper">
    <div class="home_header">
    </div>
    <div class="home_main_box">
      <div class="home_side_deck">
        {{outlet homeSideBarOutlet}}
      </div>
      <div class="home_content">
        {{outlet homeContentOutlet}}
      </div>
    </div>

  </div>
</div>

