
 <div class="topbar">
 	<div class="topbar-container">
	     <div class="topbar-menu-left">
    	     <a class="brand" href="/">RuleBot</a>
     	</div>
     	<div class="topbar-menu-right">
        	 <a class="brand" href="/accounts/sign_out">SignOut</a>
     	</div>
     </div>
</div>
<div class="home_container">
	<div class="home_sidebar">
		{{outlet homeSideBarOutlet}}
	</div>

	<div class="home_content">
		{{outlet homeContentOutlet}}
	</div>
	
</div>
