<div class="main_nav">
  <ul>    
    <li>
      <a class="scroll" href="/accounts/sign_out">Sign Out</a>
    </li>
    <li>
      <a class="scroll" href="http://www.twitter.com/rulebot">Twitter</a>
    </li>
    <li>
      <a class="scroll" href="http://www.facebook.com/actwitty">Facebook</a>
    </li>
    
  </ul>
</div>

<div class="main_page_how_container">
	<div class="main_container">
		<div class="grid2" >
			<p style="margin-top:100px; margin-left: 100px;" class="detail_pitch"> 
				Thanks for visiting. 
				<br>
				There will be updates on this page very soon.
				<br>

			</p>
		</div>
	</div>
</div>
<!-- <div class="home_container">
	<div class="home_sidebar">
		{{outlet homeSideBarOutlet}}
	</div>

	<div class="home_content">
		{{outlet homeContentOutlet}}
	</div>
	
</div> -->
