.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      
      %a.brand{:href => "/"}

    
.row.equal-heights{:style => "text-align: center;margin-top:30px;height:400px;"}

  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :method => :post) do |f|    
    %fieldset
      %legend Send unlock instruction
      %br/      
      .control-group        
        .controls
          .h5{:style => "display:inline-block; margin-right:10px;width:60px;text-align:left;"}Email:
          = f.email_field :email, placeholder: :email                    
      %br/
      %br/            
      .control-group
        .controls
          = f.submit "Send unlock instructions", :class => "btn btn-large btn-success"
 

%div{:id=>"extra"}
  %div{:class=>"inner", :style=>"min-height:400px;"}              
      
