<style>

  .rbTextValue
   {
     color:{{rb.bottombar.generic.normal.text.style.color}};
     font-size: {{rb.bottombar.generic.normal.text.style.fontsize}};
     text-shadow: {{rb.bottombar.generic.normal.text.style.textshadow}};
     font-family: {{rb.bottombar.generic.normal.text.style.fontfamily}};
   }

  #actionBottombarGenericNormalButtonClick
   {
     font-size:{{rb.bottombar.generic.normal.button.style.fontsize}};
     background-color:{{rb.bottombar.generic.normal.button.style.bgColor}};  
     color :{{rb.bottombar.generic.normal.button.style.color}};

   }

</style>
<div id="rbBottombarGenericNormalBase" style="zIndex:{{rb.bottombar.generic.normal.base.style.zIndex}};width:{{rb.bottombar.generic.normal.base.style.width}};height:{{rb.bottombar.generic.normal.base.style.height}};display:block; background-color:{{rb.bottombar.generic.normal.base.style.bgColor}};border-style:none; position:fixed; bottom:0px; left:0px; box-shadow: 5px -5px 3px #888888;text-align:{{rb.bottombar.generic.normal.base.style.textalign}};">

  <p id="rbActionBottombarGenericNormalLeftClick" class = "rbTextValue" style="display:inline;  position:relative; margin-left:20px; top:10px; margin-right:20px;">
         {{rb.bottombar.generic.normal.left.value.text}}  
  </p> 
  
<a id="actionBottombarGenericNormalButtonClick" class ="rbClickable" style="display:inline;position:relative;top:10px;" href="{{rb.bottombar.generic.normal.button.link.ahref}}"> {{rb.bottombar.generic.normal.button.link.lable}} </a>
    

  <p id="rbActionBottombarGenericNormalRightClick" class = "rbTextValue"  style="display:inline;  position:relative; margin-right:20px; top:10px; margin-left:20px;">
         
         {{rb.bottombar.generic.normal.right.value.text}}  
  </p>     
   
 <div id="rbActionBottombarGenericNormalHelpClick" class="rbClickable" style="display:inline; position:absolute;bottom:5x;right:30px;margin-left:20px;color:#FFFFFF;font-weight:bold;"> 
       
            <a target="_blank" style= "text-decoration:none ; " href="{{rb.action.bottombar.generic.normal.help.ahref}}" >
            ?
            </a>   

  </div>



    <div id="rbActionBottombarGenericNormalCloseClick" class="rbClickable" style="display:inline;position:absolute;color:#FFFFFF; bottom:5px;right:10px;font-weight:bold;" >
     X
    </div> 

</div>