<style>
.rbTextValue
   {
     color:{{rb.bottombar.generic.twfollow.text.style.color}};
     font-size: {{rb.bottombar.generic.twfollow.text.style.fontsize}};
     text-shadow: {{rb.bottombar.generic.twfollow.text.style.textshadow}};
     font-family: {{rb.bottombar.generic.twfollow.text.style.fontfamily}};
   }

</style> 

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div id="rbBottombarGenericTwfollowBase" style="zIndex:{{rb.bottombar.generic.twfollow.base.style.zIndex}};width:{{rb.bottombar.generic.twfollow.base.style.width}};height:{{rb.bottombar.generic.twfollow.base.style.height}};display:block; background-color:{{rb.bottombar.generic.twfollow.base.style.bgColor}};border-style:none; position:fixed; bottom:0px; left:0px; box-shadow: 5px -5px 3px #888888;text-align:{{rb.bottombar.generic.twfollow.base.style.textalign}};">
   
   <p id="rbActionBottombarGenericTwfollowLeftClick" class="rbTextValue" style="display:inline;  position:relative; margin-left:20px; top:10px; margin-right:20px;">

         {{rb.bottombar.generic.twfollow.left.value.text}}  
   </p> 

   <div id="rbActionBottombarGenericTwfollowButtonClick" class ="rbClickable" style="display:inline;position:relative;top:10px;">
     
    
               <a  data-show-count="false" data-button = "blue" class="twitter-follow-button" href="https://twitter.com/{{rb.bottombar.generic.twfollow.acount}}">Follow {{rb.bottombar.generic.twfollow.acount}}</a>
   
    </div>
   
   <p id="rbActionBottombarGenericTwfollowRightClick" class="rbTextValue"  style="display:inline;  position:relative; margin-right:20px; top:10px; margin-left:20px;">
         {{rb.bottombar.generic.twfollow.right.value.text}}  
   </p> 

    <div id="rbActionBottombarGenericTwfollowHelpClick" class="rbClickable" style="display:inline; position:absolute;bottom:5px;right:30px;margin-left:20px;color:#FFFFFF;font-weight:bold;"> 
       
            <a target="_blank" style= "text-decoration:none ; " href="{{rb.action.bottombar.generic.twfollow.help.ahref}}" >
            ?
            </a>   

    </div>



    <div id="rbActionBottombarGenericTwfollowCloseClick" class="rbClickable" style="display:inline;position:absolute;color:#FFFFFF; bottom:5px;right:10px;font-weight:bold;" >
     X
     </div> 

</div>