<style>
.rbTextValue
   {
     color:{{rb.topbar.generic.twshare.text.style.color}};
     font-size: {{rb.topbar.generic.twshare.text.style.fontsize}};
     text-shadow: {{rb.topbar.generic.twshare.text.style.textshadow}};
     font-family: {{rb.topbar.generic.twshare.text.style.fontfamily}};
   }

</style> 

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<div id="rb.topbar.generic.twshare.base" style="zIndex:{{rb.topbar.generic.twshare.base.style.zIndex}};width:{{rb.topbar.generic.twshare.base.style.width}};height:{{rb.topbar.generic.twshare.base.style.height}};display:block; background-color:{{rb.topbar.generic.twshare.base.style.bgColor}};border-style:none; position:fixed; top:0px; left:0px; box-shadow: 5px 5px 3px #888888;text-align:{{rb.topbar.generic.twshare.base.style.textalign}};">
   
   <p id="rbActionTopbarGenericTwshareLeftClick" class="rbTextValue"  style="display:inline;  position:relative; margin-left:20px; top:10px; margin-right:20px;">
         {{rb.topbar.generic.twshare.left.value.text}}  
   </p> 

   <div id="rbActionTopbarGenericTwshareButtonClick" class ="rbClickable" style="display:inline;position:relative;top:10px;">
     
    
             <a href="https://twitter.com/share?text={{rb.bottombar.generic.twshare.button.text.defaults}} " class="twitter-share-button" data-count="none" data-lang="en">Tweet</a>
   
    </div>
   
   <p id="rbActionTopbarGenericTwshareRightClick" class="rbTextValue" style="display:inline;  position:relative; margin-right:20px; top:10px; margin-left:20px;">
         
         {{rb.topbar.generic.twshare.right.value.text}}  
   </p> 

    <div id="rbActionTopbarGenericTwshareHelpClick" class="rbClickable" style="display:inline; position:absolute;top:5px;right:30px;margin-left:20px;color:#FFFFFF;font-weight:bold;"> 
       
            <a target="_blank" style= "text-decoration:none ; " href="{{rb.action.topbar.generic.twshare.help.ahref}}" >
            ?
            </a>   

    </div>



    <div id="rbActionTopbarGenericTwshareCloseClick" class="rbClickable" style="display:inline;position:absolute;color:#FFFFFF; top:5px;right:10px;font-weight:bold;" >
     X
     </div> 

</div>