<!-- {{Title{{=Facebook Like Topbar}}}}-->


<style>
.rbTextValue
   {
     color:{{rb.t.cr.text_color {{=#F2F0F0}}}};
     font-size: {{rb.t.nr.text_fontsize{{=16}}}}px;
     font-family: {{rb.t.ft.text_fontfamily{{=Arial}}}};
     text-shadow : #1C2C4C 0px -1px 0px;
     font-style: normal;
     font-weight:{{rb.t.fw.text_fontweight{{=bold}}}};
   }

</style> 
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, "script", "facebook-jssdk"));</script>


<div id="rbTopbarGenericFblikeBaseContainer" style="zIndex:{{rb.f.nr.baseZ_zindex{{=Zindex}}}};width:{{rb.t.nr.base_width{{=100}}}}%;height:{{rb.t.nr.base_height{{=40}}}}px;display:block; background-color:{{rb.t.cr.base_backgroundcolor{{=#3C5891}}}};border-style:none; position:fixed; top:0px; left:0px; box-shadow: 2px 2px 2px #888888;text-align:{{rb.t.an.basetextalign{{=center}}}};">


    <div id="rbTopbarGenericFblikeLeftClick" class="rbTextValue" style="display:inline;  position:absolute;bottom:5px; margin-right:20px; bottom:10px; left:20px; width:40%;overflow:hidden;">
         {{rb.t.vsg.text_left{{=Hello Hello}}}}  
   </div> 

 
        

   <div id="rbTopbarGenericFblikeRoiButton" class ="rbClickable" style="display:inline;position:absolute;bottom:10px;width:80px;left:42%;margin-right:20px;height:25px;background-color:#FFFFFF;border-radius:5px;cursor:pointer;">
     
    
             <div class="fb-like" data-href="{{rb.t.ul.facebook_page{{=http://www.google.com}}}}" data-send="false" data-layout="button_count" data-width="250px" data-show-faces="false" data-font="arial"></div>
   
   
    </div>
   


   
   <div id="rbBottombarGenericFblikeRightClick" class="rbTextValue"  style="display:inline;  position:absolute; margin-right:20px; bottom:10px; margin-left:20px; left:49%; width:40%;overflow:hidden;">
         
         {{rb.t.vsg.text_right{{=Hello Hello}}}}  
   </div>


   <div  style="display:inline; position:absolute;top:5px;right:30px;margin-left:20px;color:#FFFFFF;font-weight:bold;"> 
       
            <a id="rbTopbarGenericFblikeRoiHelp" class="rbClickable" style= "text-decoration:none;color:#FFFFFF;" href="http://www.rulebot.com"  >
            ?
            </a>   

    </div>



   <div id="rbTopbarGenericFblikeCloseClick" class="rbClickable" style="display:inline;position:absolute;color:#FFFFFF; top:5px;right:10px;font-weight:bold;cursor:pointer;" >
     X
   </div> 

    

</div>