<div id="rb.container.base" style="zIndex:{{topbar.style.zIndex}};{{topbar.style.generic}}">
   <div id="TextLeftTopBarGeneric" style="{{topbar.style.text.left}}">
     {{topbar.value.text.left}}  
   </div>    
   
   <a href={{topbar.href.a.left}}>
   	<button id="topBarGenericButton" style="{{topbar.style.button}}">  
    	{{topbar.value.button}}  
   	</button>
   </a> 

    <div id="TextRightTopBarGeneric" style="{{topbar.style.text.right}}"> 
    	{{topbar.value.text.right}} 
   	</div>

    <a href={{topbar.href.a.help}}>
    	<div id="TopBargenericLinkForHelp" style="{{topbar.style.a.help}}" > 
    	? 
    	</div>
   	</a>   
    <div id="TopBarGenericHideShow" style="{{topbar.style.a.hide}}" >
     * 
     </div> 
</div>