<style>

  .rbTextValue
   {
     color:{{rb.t.cr.textColor =%%#333%%}};
     font-size: {{rb.t.nr.textFontsize=%%15%%}}px;
     font-family: {{rb.t.ft.textFontfamily=%%Arial%%}};
     font-weight: bold;
   }




</style>

<div id="rbBottombarGenericNormalBaseContainer" style="zIndex:{{rb.f.nr.baseZindex=%%100%%}};width:{{rb.t.nr.baseWidth=%%100%%}}%;height:{{rb.t.nr.baseHeight=%%40%%}}px;display:block; background-color:{{rb.t.cr.baseBgColor=%%#DCDCDC%%}};border-style:none; position:fixed; bottom:0px; left:0px; box-shadow: 2px -2px 2px #888888;text-align:{{rb.t.an.baseTextalign=%%center%%}};">

   <div id="rbBottombarGenericNormalLeftClick" class="rbTextValue" style="display:inline;  position:absolute;bottom:5px; margin-right:20px; bottom:10px; left:20px; width:40%;overflow:hidden;">
         {{rb.t.sg.textLeft=%%Hello Hello%%}}  
   </div> 

  

<a id="rbBottombarGenericNormalRoiButton" class ="rbClickable" style="display:inline;position:absolute;bottom:10px;width:80px;left:42%;margin-right:20px;height:25px; border-radius:5px;text-decoration:none; font-size:{{rb.t.nr.btnFontSize=%%14%%}}px;
     background-color:{{rb.t.cr.btnBgColor=%%#548AC7%%}};text-shadow: 0px -1px 0px #29588D;  
     color :{{rb.t.cr.btnColor=%%white%%}};text-align:center;border:1px solid #305580;padding-top:3px" href="{{rb.t.ul.btnLink=%%http://www.google.com%%}}"> {{rb.t.sg.btnLable=%%Click%%}} </a>

    
  <div id="rbBottombarGenericNormalRightClick" class="rbTextValue"  style="display:inline;  position:absolute; margin-right:20px; bottom:10px; margin-left:20px; left:49%; width:40%;overflow:hidden;">
         
         {{rb.t.sg.textRight=%%Hello Hello%%}}  
   </div>
   
 <div  style="display:inline; position:absolute;right:30px; bottom:5px;margin-left:20px;font-weight:bold;"> 
       
            <a id="rbBottombarGenericNormalRoiHelp" class="rbClickable" target="_blank" style= "text-decoration:none;color:#333" href="{{rb.t.ul.helpLink=%%http://www.rulebot.com%%}}" >
            ?
            </a>   

  </div>



    <div id="rbBottombarGenericNormalCloseClick" class="rbClickable" style="display:inline;position:absolute;color:#333; bottom:5px;right:10px;font-weight:bold;" >
     X
    </div> 

</div>