# Enter your per-environment constants below

development: &default
  #Subscriptions
  subscriptions:
    free:                 
      name:               "Free"
      price:              0
    basic:                
      name:               "Basic"
      price:              10
    business:             
      name:               "Business"
      price:              50
    premium:              
      name:               "Premium"
      price:              100
    enterprise:           
      name:               "Enterprise"
      price:              200
    high_volume:          
      name:               "High_Volume"
      price:              1000

  facebook_app_id:      '244515575666539'
  facebook_secret_key:  '2ce9532a07461bf35f2ea18b50ff2afa'
  server_base:          'http://localhost:3000'

  redis_server:          'redis://localhost:6379'

  mailchimp_key:         '1b16707a608bd76703eeb349cc45dfdb-us5'
  mailchimp_list:        'visitors_development'
production:  
  <<: *default
  facebook_app_id:      '172893766124779'
  facebook_secret_key:  'd842d4c68c7698a9e0a0823333d691a2'
  server_base:          'http://ganga.herokuapp.com'

  redis_server:          'redis://localhost:6379'
  mailchimp_key:         '1b16707a608bd76703eeb349cc45dfdb-us5'
  mailchimp_list:        'Rulebot User'

test:  
  <<: *default
  facebook_app_id:       '244515575666539'
  facebook_secret_key:   '2ce9532a07461bf35f2ea18b50ff2afa'
  server_base:           'http://localhost:3000'
  mailchimp_key:         '1b16707a608bd76703eeb349cc45dfdb-us5'
  mailchimp_list:        'visitors_test'