# Enter your per-environment constants below

development: &default
  facebook_app_id:      '244515575666539'
  facebook_secret_key:  '2ce9532a07461bf35f2ea18b50ff2afa'
  server_base:          'http://localhost:3000'
production:
  facebook_app_id:      '172893766124779'
  facebook_secret_key:  'd842d4c68c7698a9e0a0823333d691a2'
  server_base:          'http://ganga-cedar.herokuapp.com'
  <<: *default

test:
  facebook_app_id:      '244515575666539'
  facebook_secret_key:   '2ce9532a07461bf35f2ea18b50ff2afa'
  server_base:          'http://localhost:3000'
  <<: *default