# Enter your per-environment constants below

development: &default
  #Subscriptions
  subscriptions:
    free:                 
      name:               "Free"
      price:              0
    basic:                
      name:               "Basic"
      price:              10
    business:             
      name:               "Business"
      price:              50
    premium:              
      name:               "Premium"
      price:              100
    enterprise:           
      name:               "Enterprise"
      price:              200
    high_volume:          
      name:               "High_Volume"
      price:              1000

  # Fixed Events
  event_set_actor_profile: "__set_actor_profile__"
  event_set_actor_system:  "__set_actor_system__"

  # Super Actor Key 
  super_actor:             "super_actor_id"

  # Limits
  limit_events:           100
  limit_actors:           100

  # Service Keys
  facebook_app_id:      '244515575666539'
  facebook_secret_key:  '2ce9532a07461bf35f2ea18b50ff2afa'
  server_base:          'http://localhost:3000'

  redis_server:         'redis://localhost:6379'

  mailchimp_key:        '1b16707a608bd76703eeb349cc45dfdb-us5'
  mailchimp_list:       'visitors_development'


  google_analytics_key: 'UA-35207235-1'
  intercom_io_key:      '3yfygk8e'

  olark_key:            '9266-944-10-1952'
  olark_show_wait:       60000

  mixpanel_key:         'd73d98b374597f86aa5c6131d24b75b0'
  kissmetric_key:       '37e967f88262226bb6b042b360823198784fee85'
  user_voice_wait:       120000
production:  
  <<: *default
  facebook_app_id:      '172893766124779'
  facebook_secret_key:  'd842d4c68c7698a9e0a0823333d691a2'
  server_base:          'http://ganga.herokuapp.com'

  redis_server:          'redis://localhost:6379'
  mailchimp_key:         '1b16707a608bd76703eeb349cc45dfdb-us5'
  mailchimp_list:        'Rulebot User'

test:  
  <<: *default
  facebook_app_id:       '244515575666539'
  facebook_secret_key:   '2ce9532a07461bf35f2ea18b50ff2afa'
  server_base:           'http://localhost:3000'
  mailchimp_key:         '1b16707a608bd76703eeb349cc45dfdb-us5'
  mailchimp_list:        'visitors_test'

  # Limits
  limit_events:           3
