{{view App.MainHeaderView modeBinding="view.mode"}}      



<div id="subheader">
	
	<div class="inner">
		
		<div class="container">
					
			<h1>About Us</h1>
		
		</div> <!-- /.container -->
		
	</div> <!-- /inner -->
	
</div> <!-- /subheader -->


 
<div id="subpage">	
	
	<div class="container">
		
		
		<div class="row">
			
			<div class="span12">
				
				<div class="big-intro">We are regarded as industry leaders in data analytics and automations, focused solely on delivering great solutions.
				<h4>Hell Yeah! We aren't like that.</h4>
				</div>

				
			</div> <!-- /span12 -->
			
		</div> <!-- /row -->
		
		<br /><br />
		
		
		
		<div class="row">
			
			<div class="span12">				
				<h3>About The Team & Product</h3>
			</div> <!-- /span12 -->	
					
			
			<div class="span6">		
					<p>We earn our bread by creating software solutions to assist you in your business errands. We want our customers to focus on their core business and let us take the responsibility to manage automations. </p>
					
			</div> <!-- /span6 -->	
			
			<div class="span6">		
					<p>Our product captures key happenings on your site and gives you a way to trigger the actions. We help you to manage your customers and thereby increase your business.</p>
					
					
					
					
			</div> <!-- /span6 -->			
			
		</div> <!-- /row -->
		
		<br /><br />
		
		<div class="row">
			
			<div class="span12">
				<h3>The Team</h3>
			</div> <!-- /span12 -->

			<div class="span6">
				<div class="about-user">
						<div class="img">
							<img src="/assets/landing-img/samarth.jpg" alt="Avatar" />
						</div>
						<a href="http://in.linkedin.com/pub/samarth-deo/2/379/a76" target="_blank">
							<h4>Samarth Deo</h4>
							<h6>Hacker</h6>
						</a>
					</div> <!-- /about-user -->
				
			</div> <!-- /span6 -->
			
			<div class="span6">
				<div class="about-user">
						<div class="img">
							<img src="/assets/landing-img/amartya.jpg" alt="Avatar" />
						</div>
						<a href="http://in.linkedin.com/pub/amartya-das/b/72b/637" target="_blank">
							<h4>Amartya Kumar Das</h4>						
							<h6>Hacker</h6>
						</a>
					</div> <!-- /about-user -->
				
			</div> <!-- /span6 -->
			
			<div class="span6">
				<div class="about-user">
						<div class="img">
							<img src="/assets/landing-img/alok.jpg" alt="Avatar" />
						</div>
						<a href="http://in.linkedin.com/pub/alok-srivastava/2/313/8b3" target="_blank">
							<h4>Alok Srivastava</h4>
							<h6>Co-founder</h6>
						</a>
						
					</div> <!-- /about-user -->
				
			</div> <!-- /span6 -->
			
			<div class="span6">
				<div class="about-user">
						<div class="img">
							<img src="/assets/landing-img/sudhanshu.jpg" alt="Avatar" />
						</div>
						<a href="http://in.linkedin.com/pub/sudhanshu-saxena/2/372/4a8" target="_blank">
							<h4>Sudhanshu Saxena</h4>
							<h6>Co-founder</h6>
						</a>
						
				</div> <!-- /about-user -->
				
			</div> <!-- /span6 -->
			

			
		</div> <!-- /row -->
		
	</div> <!-- /container -->	
	
</div> <!-- /subpage -->   
    

{{view App.MainFooterView}}
