{{view App.MainHeaderView modeBinding="view.mode"}}


<div id="subheader">
	
	<div class="inner">
		
		<div class="container">
					
			<h1>Contact Us</h1>
		
		</div> <!-- /.container -->
		
	</div> <!-- /inner -->
	
</div> <!-- /subheader -->
       



 
<div id="subpage">	
	
	<div class="container">
		
		<div class="row">
			
			<div class="span8">
					
					<h3>Get in Touch</h3>
					<p>We want to hear from you! Just enter your name, email address, and message into the form below and send away.</p>
					
					<hr />
					
					
					
						<iframe width="100%" height="180" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msid=200294097714177412948.0004cfa07504ace53c540&msa=0&ll=12.892971,77.602873&spn=0.020875,0.03695&output=embed"></iframe>				
				
					
					<br />
					<hr />
					
					<h3>Send a Message</h3>
					
					<form method="post" action="/contact">
						<fieldset>
							<div class="clearfix">
								<label for="name"><span>Name:</span></label>
								<div class="input">
									<input tabindex="1" size="18" id="name" name="name" label="Name" type="text" value="">
								</div>
							</div>
							
							<div class="clearfix">
								<label for="email"><span>Email:</span></label>
								<div class="input">
									<input tabindex="2" size="25" id="email" name="email" label="Email" type="text" value="" class="input-xlarge">
								</div>
							</div>
							
							<div class="clearfix">
								<label for="message"><span>Message:</span></label>
								<div class="input">
									<textarea tabindex="3" class="input-xlarge" id="message" name="body" label="Message" rows="7"></textarea>
								</div>
							</div>
							
							<div class="actions">
								<input tabindex="3" type="submit" class="btn btn-primary btn-large" value="Send message">
							</div>
						</fieldset>
					</form>

				
			</div> <!-- /span8 -->
			
			<div class="span4">
				
				<div class="sidebar">
					
					<h3>More Information</h3>
					
					<p>
						<strong>Address</strong> <br />
						#17 NSRCEL, IIMB <br />
						Bangalore - 560076, KA, INDIA						
						<br /><br />
						<strong>Phone</strong><br />
						(+91) 984 545 0721<br />
						(+91) 998 090 6102<br />												
						<br />												
						<br />												
						<br />												
						<br />												
					</p>					
					
					
				</div> <!-- /sidebar -->					
				
			</div> <!-- /span4 -->
		</div> <!-- /row -->
		
	</div> <!-- /container -->	
	
</div> <!-- /subpage -->   
    
{{view App.MainFooterView}}