{{view App.MainHeaderView modeBinding="view.mode"}}       


<div id="subheader">
	
	<div class="inner">
		
		<div class="container">
					
			<h1>How it works</h1>
		
		</div> <!-- /.container -->
		
	</div> <!-- /inner -->
	
</div> <!-- /subheader -->
 

 
<div id="subpage">	
	
	<div class="container">
		
		<div class="row">
			
			<div class="span8">												
														
					
					
					<ol class="faq-list">
						<li>
							<h3>Just a few seconds to enable Rulebot for your site. </h3>
							<h4>&nbsp;&nbsp;Step 1: Signup for a chosen plan </h4>
							<h4>&nbsp;&nbsp;Step 2: Register your website and get javascript widget code </h4>
							<h4>&nbsp;&nbsp;Step 3: Play with the rules to create automations on events </h4>
						</li>
						<li>
							<h4> The big picture </h4>
						</li>
						<li style='background: rgba(0, 0, 0, 0.1);padding:20px;border-radius:5px;'>													
							<img src="/assets/how-to.png"/>
						</li>	

						<li>							
							<span6 style="padding: 0 50px"><b>Sign up to Rulebot</b></span6>
							<span6 style="padding: 0 50px"><b>Add our javascript to your website</b></span6>
							<span6 style="padding: 0 30px"><b>Trigger actions for your website</b></span6>
						</li>
						<li>
								<h4>Sign up to rulebot <p style="color:#81994D">Its free right now!</p></h4> 
								<p>You just need to drop in your email id and name to sign up for Rulebot. Its free in current version, although you can tell us the plan best suited for your business.</p>
								
						</li>
						
						<li>
								<h4>Register your website</h4> 
								<p>You can register domain name of your website with Rulebot to create a Rulebot application. We generate javascript widget code for your application. You can add the widget code to your website.</p>
								
						</li>
						
						<li>
								<h4>Sending events</h4> 
								<p>Track any event from your site by making a simple call to a function and send a hierarchical JSON data as parameters. You can add any number of events. </p>
								
						</li>
						<li>
								<h4>Identifying the customers/users</h4> 
								<p>You can track events ad target on per user basis by identifying signed in users. A user can be identified by calling a function from our widget code.</p>
								
						</li>
						<li>
								<h4>Add action triggers</h4> 
								<p>You can set rules on parameters for events to create dynamic actions like notifications, customer support, email marketing, third party service automation. We provide a dashboard to configure these actions. Zero coding is needed to add new rule or remove existing rules.</p>
						</li>
						
						
						
					</ol>
					
				
			</div> <!-- /span8 -->
			
			<div class="span4">
					
				<div class="sidebar">
					
					<h3>Need to know more</h3>														
					
					<p>Call us at +91 984-545-0721, +91 998-090-6102</p>
					
				</div> <!-- /sidebar -->
				
			</div> <!-- /span4 -->
		</div> <!-- /row -->
		
	</div> <!-- /container -->	
	
</div> <!-- /subpage -->   
    

			
{{view App.MainFooterView}}