{{view App.MainHeaderView modeBinding="view.mode"}}

       
  
<div id="landing">
  
  <div class="inner">
    
    <div class="container">
    
      <div class="row">
        
        
        <div class="span4 landing-text">
        
  
          <h1>A simplest way to trigger actions on events.</h1>
          
          <p>get rulebot integrated in 60 seconds, manage the events occuring in business workflows, automate actions to increase revenues.</p>
          
          <p class="landing-actions">            

             <a class='btn btn-large btn-inverse' id="invitation_button" href="/accounts/sign_up"  >
              Get started its free !
            </a>
          </p>    
                  
                
          
          
        </div> <!-- /landing-text -->     
        
        <div class="span8 landing-screenshot">  
          <img src="/assets/landing-img/grab.png" class="screengrab" alt="Screenshot" />
        </div>
        
      </div> <!-- .row -->
      
    </div> <!-- /container -->
      
  </div> <!-- /inner -->
  
</div> <!-- /landing --> 
    


 <div id="content">
        
  <div class="inner">   
    
    <div class="container">
      
      <div class="row">
      
        <div class="span8">
        
            <h3> What You'll Get</h3>
            
            
            <ul class="features-list">
              <li class="feature">
                <div class="feature-thumbnail">
                  <div class="circle-icon">
                    <div>
                      <i class=" icon-briefcase"></i>
                    </div>
                  </div> <!-- /circle-icon -->
                </div> <!-- /feature-thumbnail -->
                
                <div class="feature-content">
                  <h3>Enterprise class automation system</h3>
                  <p>Rule based actions in real-time on events. Like- visitor's behavior or profile.</ac>
              </div> <!-- /feature-content -->
              </li>
              <li class="feature">
                <div class="feature-thumbnail">
                  <div class="circle-icon">
                    <div>
                      <i class="icon-random"></i>
                    </div>
                  </div> <!-- /circle-icon -->
                </div> <!-- /feature-thumbnail -->
                
                <div class="feature-content">
                  <h3>Automate 3rd Party services</h3>
                  <p>Activate 3rd party service APIs based on events on web pages.</p>                 
                </div> <!-- /feature-content -->
              </li>

              <li class="feature">
                <div class="feature-thumbnail">
                  <div class="circle-icon">
                    <div>
                      <i class="icon-bullhorn"></i>
                    </div>
                  </div> <!-- /circle-icon -->
                </div> <!-- /feature-thumbnail -->
                
                <div class="feature-content">
                  <h3>React to customers immediately</h3>
                  <p>We act on your behalf. Like - on page messaging, surveys, feedbacks, emails and alerts.</p>
              </div> <!-- /feature-content -->
              </li>              

              <li class="feature">
                <div class="feature-thumbnail">
                  <div class="circle-icon">
                    <div>
                      <i class="icon-time"></i>
                    </div>
                  </div> <!-- /circle-icon -->
                </div> <!-- /feature-thumbnail -->
                
                <div class="feature-content">
                  <h3>Focus on your core business</h3>
                  <p>Offload development and testing of  " good to have stuff " to us.
                  </p>
              </div> <!-- /feature-content -->
              </li>              
              

              <li class="feature">
                <div class="feature-thumbnail">
                  <div class="circle-icon">
                    <div>
                      <i class="icon-bar-chart"></i>
                    </div>
                  </div> <!-- /circle-icon -->
                </div> <!-- /feature-thumbnail -->
                
                <div class="feature-content">
                  <h3>Effortless Dashboard</h3>
                  <p>Create rules, see reports, integrate 3rd party services and track RoI.</p>
              </div> <!-- /feature-content -->
              </li>

              <li class="feature">
                <div class="feature-thumbnail">
                  <div class="circle-icon">
                    <div>
                      <i class="icon-certificate"></i>
                    </div>
                  </div> <!-- /circle-icon -->
                </div> <!-- /feature-thumbnail -->
                
                <div class="feature-content">
                  <h3>Templatized rule library</h3>
                  <p>Access to recommended rules based on business verticals.</p>
              </div> <!-- /feature-content -->
              </li>
            </ul> <!-- /features-list -->
            </ul> <!-- /features-list -->
          
        </div> <!-- /span8 -->
      
        
        <div class="span4">
            <a class="twitter-timeline" href="https://twitter.com/trig_matic" data-widget-id="281382666119561216">    Tweets by @trig_matic
            </a>
            <script>
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            </script>

           
          
        </div> <!-- /span4 -->
        
      </div> <!-- /row -->      
      
    </div> <!-- /container -->  
    
  </div> <!-- /inner -->
  
</div> <!-- /content -->   







  
</div> <!-- /screenshots -->
      
      
      
{{view App.MainFooterView}}