<form accept-charset="UTF-8" action="/accounts" class="simple_form form-inline" id="new_user" method="post" novalidate="novalidate">
        
  
  {{#if view.stateIsError}}
    <p class="error"> {{bind view.errorString}} </p> 
  {{/if}}
  {{#if view.stateIsSuccess}}
    <p class="success"> Thanks for signing up, we will keep you posted. </p>     
  {{else}}
    <div style="display:block;width:400px;margin-top:20px">
      <input id="account_email" name="account_email" placeholder="Your email address..." size="50" type="text" value="" style='width:210px;font-size:16px;height:40px;float:left;'>
    
      <input class='btn btn-large btn-inverse' id="invitation_button" {{action "addInviteAccount" target="App.mainInviteView"}} value="Request invite" style='width:130px;float:left;margin-left:2px;margin-top:0px;'>
    </div>    
    
  {{/if}}
  
  
</form>
{{#if view.stateIsBusy}}
  <div class="busy_div" > </div>
{{/if}}