{{view App.MainHeaderView modeBinding="view.mode"}}


<div id="subheader">
	
	<div class="inner">
		
		<div class="container">
					
			<h1>Pricing Plans</h1>
		
		</div> <!-- /.container -->
		
	</div> <!-- /inner -->
	
</div> <!-- /subheader -->


 
<div id="subpage">	
	
	<div class="container">
		
		
		<div class="row">
			
			<div class="span12">
				
				<h2>Choose a Plan </h2>

				
			</div> <!-- /span12 -->
			
		</div> <!-- /row -->
		
		
		<div class="row">
			
			<div class="span12">
				
				
				
				<div class="pricing-plans plans-4">
						
					<div class="plan-container">
				        <div class="plan">
					        <div class="plan-header">
				                
					        	<div class="plan-title">
					        		Micro	        		
				        		</div> <!-- /plan-title -->
				                
					            <div class="plan-price">
				                	<span class="note">$</span>W<span class="term">Per Month</span>
								</div> <!-- /plan-price -->
								
					        </div> <!-- /plan-header -->	        
					        
					        <div class="plan-features">
								<ul>
									<li><strong>Free</strong> setup</li>
									<li><strong>1</strong> Website</li>
									<li><strong>10,000</strong>  Events</li>
									<li><strong>5</strong>  Active rules</li>
									<li><strong>Limited</strong>  Templates library</li>
									<li><strong>Limited</strong> Third party library support</li>
									<li><strong>Paid</strong>  Visitor profile enrichment</li>
									
								</ul>
							</div> <!-- /plan-features -->
							
							<div class="plan-actions">				
								<a href="javascript:;" class="btn">Purchase Now</a>				
							</div> <!-- /plan-actions -->
				
						</div> <!-- /plan -->
				    </div> <!-- /plan-container -->
				    
				    <div class="plan-container">
				        <div class="plan">
					        <div class="plan-header">
				                
					        	<div class="plan-title">
					        		Starter	        		
				        		</div> <!-- /plan-title -->
				                
					            <div class="plan-price">
				                	<span class="note">$</span>X<span class="term">Per Month</span>
								</div> <!-- /plan-price -->
								
					        </div> <!-- /plan-header -->       
					        
					        <div class="plan-features">
								<ul>
									<li><strong>Free</strong> setup</li>
									<li><strong>2</strong> Websites</li>
									<li><strong>50,000</strong> Events</li>
									<li><strong>15</strong> Active rules</li>
									<li><strong>Free</strong> Templates Library</li>
									<li><strong>Limited</strong> Third party library support</li>
									<li><strong>Free</strong>  Visitor profile enrichment</li>
								</ul>
							</div> <!-- /plan-features -->
							
							<div class="plan-actions">				
								<a href="javascript:;" class="btn">Purchase Now</a>				
							</div> <!-- /plan-actions -->
				
						</div> <!-- /plan -->
				    </div> <!-- /plan-container -->
				    
				    <div class="plan-container best-value">
				        <div class="plan">
					        <div class="plan-header">
				                
					        	<div class="plan-title">
					        		Business	        		
				        		</div> <!-- /plan-title -->
				                
					            <div class="plan-price">
				                	<span class="note">$</span>Y<span class="term">Per Month</span>
								</div> <!-- /plan-price -->
								
					        </div> <!-- /plan-header -->	          
					        
					        <div class="plan-features">
								<ul>					
								
									<li><strong>Free</strong> setup</li>
									<li><strong>5</strong> Websites</li>
									<li><strong>10,00,000</strong> Events</li>
									<li><strong>100</strong> Active rules</li>
									<li><strong>Free</strong> Templates Library</li>
									<li><strong>All</strong> Third party library support</li>
									<li><strong>Free</strong>  Visitor profile enrichment</li>
								
								</ul>
							</div> <!-- /plan-features -->
							
							<div class="plan-actions">				
								<a href="javascript:;" class="btn">Purchase Now</a>				
							</div> <!-- /plan-actions -->
				
						</div> <!-- /plan -->
				    </div> <!-- /plan-container -->
				    
				    <div class="plan-container">
				        <div class="plan">
					        <div class="plan-header">
				                
					        	<div class="plan-title">
					        		Enterprise	        		
				        		</div> <!-- /plan-title -->
				                
					            <div class="plan-price">
				                	<span class="note">$</span>Z<span class="term">Per Month</span>
								</div> <!-- /plan-price -->
								
					        </div> <!-- /plan-header -->	       
					        
					        <div class="plan-features">
								<ul>					
								
									<li><strong>Free</strong> setup</li>
									<li><strong>25</strong> Websites</li>
									<li><strong>Unlimited</strong> Events</li>
									<li><strong>Unlimited</strong> Active rules</li>
									<li><strong>Support to </strong> Templates Library</li>
									<li><strong>Request any</strong> Third party library</li>
									<li><strong>Free</strong>  Visitor profile enrichment</li>
								
								</ul>
							</div> <!-- /plan-features -->
							
							<div class="plan-actions">				
								<a href="javascript:;" class="btn">Purchase Now</a>				
							</div> <!-- /plan-actions -->
				
						</div> <!-- /plan -->
						
				    </div> <!-- /plan-container -->
			
			
				</div>
				
				
			</div> <!-- /span12 -->
			
		</div> <!-- /row -->
		
		
		<br /><br />
		
		
		<div class="row">
			
			
			<div class="span6">
				
				<h3>Events</h3>
				<p>Events are any occurrence of importance, like a purchase or sign in to your site or even javascript error. You can add javascript to your websites to originate events or even originate through server through our Java, PHP, Ruby or Python libraries. You can send </p>
				
			</div> <!-- /span6 -->
			
			
			<div class="span6">
				
				<h3>Rules</h3>
				<p>Rules are a way to tell us to automate. We are the only service that offers the functionality to automate over real-time as well as historical data. Our servers will churn TBs of event data for businesses to help them automate actions like in site customizations, emails, third party API calls. We support an easy to use dashboard to set the rules. We have planned the cap on rules to get the maximum delivered on each plan. </p>
				
			</div> <!-- /span6 -->		
	

			
			<div class="span6">
				
				<h3>Third-party libraries</h3>
				<p>You use a long list of third party services for CRM, customer support, developer tools, email marketing, messaging. We support most of these services as actions to events. Businesses can integrate these services in 60 seconds without any code change. In our plans we offer these in Business and Enterprise segment.  </p>
				
			</div> <!-- /span6 -->

			<div class="span6">
				
				<h3>Customer experience automation</h3>
				<p>You might want to offer a discount to a customer coming from New York or change the colors on your site for women visitors or want to pop out olark chat, polldaddy survey or a feedback. You can now do these in few seconds. You just focus on core business and we do these trivias for you.</p>
				
			</div> <!-- /span6 -->
			
			<div class="span6">
				
				<h3>Social enrichment</h3>
				<p>Give us email of your customer and we enrich the customer's profiles. This helps you to target customers more effectively. Like knowing gender, age, locale, social influence, interests or topics of customers can make a major difference in your engagement with customer.</p>
				
			</div> <!-- /span6 -->


			
		</div> <!-- /row -->
		
		
		
	</div> <!-- /container -->	
	
</div> <!-- /subpage -->   
    
{{view App.MainFooterView}}