  .rbBaseStyle{
    border-radius: 0px    
    background-image: none;
    background-repeat: no-repeat;
    filter: none !important;    
    border-left: 0px !important;
    border-right: 0px !important;
    display: block;
    width: 100%; 
  }

  .rbBaseStyle .rbBarWidth{
    display: block;        
    margin: auto;
  }

  

  .rbBarWidth .rbBtn{
    cursor: pointer;
    text-decoration: none;
    text-align:center;
    display: block;
    border: 0px;
  }


  .rbTextLeft{
    display:inline;  
    position:absolute;    
    margin-right:5px; 
    height: 1.5em;   
    overflow:hidden;
    display: inline;  
    text-overflow: ellipsis;
    white-space: nowrap;  
    overflow: hidden;    
    margin: 0;
    padding: 0;
  }

  .rbTextRight{
    display:inline;  
    position:absolute;    
    margin-right:20px; 
    bottom:10px;    
    height: 1.5em;    
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
    overflow: hidden;
    margin: 0;
    padding: 0;
  }



  .rb-info-btn {
    display: inline-block;
    padding: 4px 12px;
    margin: 0;    
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: whiteSmoke;
    background-image: -moz-linear-gradient(top, white, #E6E6E6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, white, #E6E6E6);
    background-image: -o-linear-gradient(top, white, #E6E6E6);
    background-image: linear-gradient(to bottom, white, #E6E6E6);
    background-repeat: repeat-x;
    border: 1px solid #BBB;
    border-color: #E6E6E6 #E6E6E6 #BFBFBF;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #A2A2A2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  }


.rb-btn-group {
  position: relative;
  display: inline-block;
  *display: inline;
  *margin-left: .3em;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  *zoom: 1;
}

.rb-btn-group:first-child {
  *margin-left: 0;
}

.rb-btn-group + .rb-btn-group {
  margin-left: 5px;
}



.rb-btn-group > .rb-info-btn {
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.rb-btn-group > .rb-info-btn + .rb-info-btn {
  margin-left: -1px;
}

.rb-btn-group > .rb-info-btn{
  font-size: 14px;
}

.rb-btn-group > .rb-info-btn-mini {
  font-size: 11px;
}

.rb-btn-group > .rb-info-btn-small {
  font-size: 12px;
}

.rb-btn-group > .rb-info-btn-large {
  font-size: 16px;
}

.rb-btn-group > .rb-info-btn:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.rb-btn-group > .rb-info-btn:last-child{
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}

.rb-btn-group > .rb-info-btn.large:first-child {
  margin-left: 0;
  margin-right: 0;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
}

.rb-btn-group > .rb-info-btn.large:last-child{
  margin-left: 0;
  margin-right: 0;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
}

.rb-btn-group > .rb-info-btn:hover,
.rb-btn-group > .rb-info-btn:focus,
.rb-btn-group > .rb-info-btn:active,
.rb-btn-group > .rb-info-btn.active {
  z-index: 2;
  color: #888;
  background-color: #d9d9d9;
}