<div class="main_page_header">
  <div class="main_page_header_wrapper">
  	<div class="main_page_header_single_menu_box">
		<a href="/" class="header_logo"></a>
	</div>

  	<div class="main_page_header_single_menu_box">	
		<a href="/about/" class="menu_links">Company</a>
	</div>
  	<div class="main_page_header_single_menu_box">	
		<a href="/pricing/" class="menu_links">Pricing</a>
	</div>
  	<div class="main_page_header_single_menu_box">	
		<a href="/features/segmentation" class="menu_links">Features</a>
	</div>  	
  </div>
</div>