{{#if view.showInfo}}
  <div class="message">
      <a alt="close" class="close_button" {{action "hideInfo" target="App.conditionsView"}}></a>

      <div class="message_text_container">
          <h3> Configure the rules for this app </h3>
          There are no rules set for this application

      </div>

      <a href="/" class="info_btn_pos btn btn-info">
          Learn more      
      </a>
  </div>
{{/if}}



<select id='rule_event_config' class='bootstrap_select2' style:'300px'>
  {{#each event in view.rules.events}}    
    {{#ifequal view.rules.selected.event event}}
      <option selected>{{event}}</option>
    {{else}}
      <option >{{event}}</option>
    {{/ifequal}}
  {{/each}}
</select>
<script>$("#rule_event_config").select2();</script>
{{#if controller.content.length}}

{{/if}}
