{{#if view.showInfo}}
  <div class="message">
      <a alt="close" class="close_button" {{action "hideInfo" target="App.conditionsView"}}></a>

      <div class="message_text_container">
          <h3> Configure the rules for this app </h3>
          There are no rules set for this application

      </div>

      <a href="/" class="info_btn_pos btn btn-info">
          Learn more      
      </a>
  </div>
{{/if}}
{{#if controller.content.length}}

{{/if}}