%div{:style => "width:100%;display:block;"}
  %div{:style => "width:600px;display:block;margin:auto;margin-top:10px;"}
    - if !flash.blank?
      %div{:class => "alert alert-error"}
        %a.close{"data-dismiss" => "alert"} ×
        - flash.each do |name, msg|
          -if msg.class == Array
            - msg.each do | single_msg|            
              = content_tag :div, single_msg, :id => "flash_#{name}" if single_msg.is_a?(String)        
          -else
            = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)